@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 16px;
}
canvas {
  display: block;
}

#form-container {
  background: #010101;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  label {
    display: block;
  }
}

#fps {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: greenyellow;
}
